<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch17x2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{82,108}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,67},{82,108}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,380},{82,96}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,67},{82,96}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,178},{86,96}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{86,96}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{84,96}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,68},{84,96}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{86,94}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,69},{86,94}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,296},{82,98}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,67},{82,98}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,620},{66,90}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{66,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,140},{78,106}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,68},{78,106}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,58},{80,106}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,68},{80,106}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,680},{90,64}}</string>
                <key>offset</key>
                <string>{15,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,118},{90,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{88,64}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,118},{88,64}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{84,104}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,78},{84,104}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,220},{86,102}}</string>
                <key>offset</key>
                <string>{-13,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,80},{86,102}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,86},{90,102}}</string>
                <key>offset</key>
                <string>{-15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,80},{90,102}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,160},{86,102}}</string>
                <key>offset</key>
                <string>{-15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,80},{86,102}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,178},{92,100}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,82},{92,100}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,276},{98,96}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,86},{98,96}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{94,100}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,81},{94,100}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,272},{98,98}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,83},{98,98}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,464},{66,94}}</string>
                <key>offset</key>
                <string>{14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,88},{66,94}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,444},{70,94}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,88},{70,94}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,248},{46,100}}</string>
                <key>offset</key>
                <string>{16,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,82},{46,100}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,372},{70,98}}</string>
                <key>offset</key>
                <string>{10,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,84},{70,98}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,372},{52,98}}</string>
                <key>offset</key>
                <string>{15,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,84},{52,98}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,376},{66,98}}</string>
                <key>offset</key>
                <string>{17,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,84},{66,98}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,604},{74,90}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,92},{74,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,520},{84,92}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,87},{84,92}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{70,92}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,87},{70,92}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,602},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,532},{86,90}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,87},{86,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,602},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,602},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,602},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,602},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,602},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,602},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,602},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,516},{86,90}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,87},{86,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,514},{86,90}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,87},{86,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,606},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,87},{84,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,620},{66,90}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,92},{66,90}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{82,108}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,67},{82,108}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{72,108}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,74},{72,108}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,426},{92,94}}</string>
                <key>offset</key>
                <string>{-13,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,88},{92,94}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,444},{92,68}}</string>
                <key>offset</key>
                <string>{-13,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,114},{92,68}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{120,54}}</string>
                <key>offset</key>
                <string>{-16,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,128},{120,54}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,54}}</string>
                <key>offset</key>
                <string>{-12,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,128},{128,54}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,54}}</string>
                <key>offset</key>
                <string>{-12,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,128},{128,54}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,54}}</string>
                <key>offset</key>
                <string>{-12,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,128},{128,54}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,54}}</string>
                <key>offset</key>
                <string>{-12,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,128},{128,54}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{84,104}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,78},{84,104}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,80},{78,106}}</string>
                <key>offset</key>
                <string>{-8,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,76},{78,106}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,688},{88,82}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,100},{88,82}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,86},{90,76}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,106},{90,76}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,692},{88,66}}</string>
                <key>offset</key>
                <string>{6,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,116},{88,66}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,308},{98,62}}</string>
                <key>offset</key>
                <string>{8,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,120},{98,62}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{82,108}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,67},{82,108}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,140},{78,106}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,1},{78,106}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{78,106}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,10},{78,106}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{72,108}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,72},{72,108}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>ch17x2_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{76,110}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,72},{76,110}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ch17x2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f26010a4f65f334fe6162834fbb4b26f$</string>
            <key>textureFileName</key>
            <string>ch17x2.png</string>
        </dict>
    </dict>
</plist>
