/* Kingdom */
body.kingdom {
    background-image: url("../img/kingdom_bg.png");
    background-color: #659dd7;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
body.kingdom button {
    background-color: #659dd7;
    border: 2px solid #0c1824;
    -webkit-text-stroke: 1px #1d1c1a;
}
body.kingdom button:active {
    background-color: #5575a8;
    border: 2px solid #182332;
}
body.kingdom button:disabled {
    background-color: #acc3db;
    border: 2px solid #696667;
}
body.kingdom .creator, body.kingdom .theme-selector {
    background-color: #f3e9df;
    border: 2px solid #c7b5aa;
}
body.kingdom .opened {
    background-color: #94c7ff;
    border: 2px solid #638cbe;
}
body.kingdom .right-buttons button.tab.unopened {
    background-color: #555e87;
}
body.kingdom .right-buttons button.tab.unopened:active {
    background-color: #454e79;
}

/* Kingdom (Dark) */
body.kingdom.dark {
    background: #1c2733;
    color: #a0b0c0;
}
body.kingdom.dark button:disabled {
    background-color: #454e79;
    border: 2px solid #242e41;
}
body.kingdom.dark input[type="text"], body.kingdom.dark textarea {
    color: #505050;
    background-color: #f3e9df;
    border: 2px solid #c7b5aa;
}
body.kingdom.dark a {
    color: #94c7ff;
}
body.kingdom.dark a:visited {
    color: #638cbe;
}
body.kingdom.dark #comic, body.black #comic {
    opacity: 0.9;
}
body.kingdom.dark .creator, body.kingdom.dark .theme-selector {
    color: #fff;
    background-color: #3c4669;
    border: 2px solid #242e41;
}

/* Black */
body.black {
    background-color: #000;
    color: #ccc;
}
body.black button {
    background-color: #754a20;
    border: 2px solid #2e1b00;
    -webkit-text-stroke: 1px #2e1b00;
}
body.black button:disabled {
    background-color: #967d5e;
    border: 2px solid #413421;
}
body.black button:active {
    background-color: #503010;
    border: 2px solid #261300;
}
body.black input[type="text"], body.black textarea {
    color: #ccc;
    background-color: #181010;
    border: 2px solid #181010;
}
body.black .right-buttons button.tab.unopened {
    background-color: #503820;
}
body.black .right-buttons button.tab.unopened:active {
    background-color: #402810;
}
body.black .creator, body.black .theme-selector {
    background-color: #302828;
    border: 2px solid #302828;
}
body.black .opened {
    background-color: #ffd71e;
    border: 2px solid #954e00;
}